.app-content {
    background: RGB(34, 34, 34);
    background-image: url("../img/play-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.radio-heading {
color: rgb(255, 255, 255);
text-align: center;
padding: 18px;
text-shadow: 0px 0px 6px rgb(0, 0, 0);
background-color: rgba(0, 0, 0, 0.23);
background-repeat: repeat;
background-attachment: scroll;
background-clip: border-box;
background-origin: padding-box;
background-size: 100% auto;
margin: 0px;
margin-bottom: 8px;
}
.player-heading {

    color: rgb(255, 255, 255);
    text-align: center;
    padding: 18px;
    margin: 40px 22px 0px;
    font-size: 1.8em;
    font-weight: 100;
}
.player-visual {
    text-align: center;
    padding: 0px 20px;
}

#playcontrols {
  padding: 8px;
}
#playcontrols #activityindicator, #playcontrols #stopbutton {
  display: none;
}

#textpositiondiv {
  padding: 22px;
  color: #fff;
  font-weight: 100;
  font-size: 3em;
}

.radio-list {
    list-style: none;
    margin: 0px;
    padding: 2px;
    display: block;
    overflow: hidden;
}
.radio-list li {
    list-style: none;
    float: left;
    padding: 0px;
    margin-bottom: 25px;
    height: 150px;
    width: 50%;
}
.radio-list img {
      height: 100px;
width: 100px;
}
.radio-list .app-button {
    display: block;
    padding: 8px 10px!important;
    height: 100%!important;
    background: #fff;
    margin: 4px;  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);overflow: hidden;
  color: rgba(3, 3, 3, 0.5);
}
.radio-list .app-button:hover, .radio-list .app-button:focus {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.radio-list li .caption {
    margin: 0px;
    padding: 0px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    font-size: 15px;
}

.radio-logo {
text-align: center;
padding: 2px;
margin-top: 60px;
}
.radio-logo img {
    max-width: 100%;
    height: auto;
}
